<%- include partials/header.ejs %>

<div class="container">
	<div class="card">
		<h2 class = "title">Todo List</h1>
		<ul class="list">
			<li><input type="text" name="item" class="toDoInput"></li>
			<%for(let i = 0; i<toDoList.length; i++){%>
			<li class="item" id = "<%=toDoList[i].id%>"><span class = "delete"><i class="fas fa-trash"></i></span><%= toDoList[i].do%></li>
			<%}%>			
		</ul>
	</div>
<div>

<%- include partials/footer.ejs %>