*{
	padding: 0;
	margin: 0;
}

body{
	background: rgb(119,201,212);
	background: -moz-linear-gradient(135deg, rgba(119,201,212,1) 6%, rgba(87,188,144,1) 100%) fixed;
	background: -webkit-linear-gradient(135deg, rgba(119,201,212,1) 6%, rgba(87,188,144,1) 100%) fixed;
	background: linear-gradient(135deg, rgba(119,201,212,1) 6%, rgba(87,188,144,1) 100%) fixed;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#77c9d4",endColorstr="#57bc90",GradientType=1);
	font-family: Fira Sans;
	color: #052E33;
}

.toDoInput{
	border: none;
	width: 100%;
	background-color: #C2EDF2;
	font-size: 60px;
	outline:none;
	text-align: left;
	color: #052E33;
}

.title{
	font-weight: 800;
	font-size: 60px;
	padding: 5px;
	text-align: center;
}

.list{
  list-style-type: none;
  font-size: 30px;
}

.item{
	background-color: #C2EDF2;
}

.item:nth-child(2n){
	background-color: #CCF9FF;
}

.item:hover .delete {
	width: 40px;
	opacity: 1.0;
}

.delete{
	text-align: center;
	color: white;
	background: red;
	padding: 0 5px;
	width: 0;
	opacity: 0;
	display: inline-block;
	transition: 0.2s linear;
}

.container{
	margin: 50px auto;
}

.card{
	text-align: left;
	background: #CCF9FF;
	border-radius: 10px;
	max-width: 900px;
	min-height: 500px;
	margin: 0 auto;
}